command[check_sda1]=/usr/lib/nagios/plugins/check_disk -w 10% -c 5% -p /
command[check_mysql]=/usr/lib/nagios/plugins/check_mysql -H localhost -d ibmilw -u {{ nagios_sql_username }} -p {{ nagios_sql_password }}
command[check_mysql_threads_connected]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode threads-connected
command[check_mysql_threadcache_hitrate]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode threadcache-hitrate
command[check_mysql_threads_created]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode threads-created
command[check_mysql_threads_running]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode threads-running
command[check_mysql_threads_cached]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode threads-cached
command[check_mysql_connects_aborted]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode connects-aborted
command[check_mysql_clients_aborted]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode clients-aborted
command[check_mysql_qcache_hitrate]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode qcache-hitrate
command[check_mysql_qcache_lowmem_prunes]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode qcache-lowmem-prunes
command[check_mysql_keycache_hitrate]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode keycache-hitrate
command[check_mysql_bufferpool_hitrate]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode bufferpool-hitrate
command[check_mysql_bufferpool_wait_free]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode bufferpool-wait-free
command[check_mysql_log_waits]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode log-waits
command[check_mysql_tablecache_hitrate]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode tablecache-hitrate
command[check_mysql_table_lock_contention]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode table-lock-contention
command[check_mysql_index_usage]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode index-usage
command[check_mysql_tmp_disk_tables]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode tmp-disk-tables
command[check_mysql_table_fragmentation]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode table-fragmentation
command[check_mysql_open_files]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode open-files
command[check_mysql_slow_queries]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode slow-queries
command[check_mysql_long_running_procs]=/usr/lib/nagios/plugins/check_mysql_health --hostname localhost --username {{ nagios_sql_username }} --password {{ nagios_sql_password }} --mode long-running-procs
command[check_mysql_slavestatus]=/usr/lib/nagios/plugins/check_mysql_slavestatus.sh -H localhost -P 3306 -u --username -p {{ nagios_sql_password }}
